<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>E-mail – Cadastro Pendente de Ajustes</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height: 1.6">
    <p>Olá {{nome}},</p>

    <p>
      Recebemos sua solicitação de cadastro como psicólogo voluntário na ONG
      Gabriel 🙌.
    </p>

    <p>
      Durante a análise dos dados e documentos enviados, identificamos que são
      necessários ajustes/complementos antes de concluirmos a validação.
    </p>
    <p>Pendências encontradas:</p>
    <ul>
      <li>{{pendencias}}</li>
    </ul>

    <p>
      Para prosseguir, pedimos que você acesse o link abaixo e realize as
      correções necessárias: <br />
      <a href="{{url}}">{{URL da Plataforma}}</a>
    </p>

    <p>
      Assim que os ajustes forem concluídos, nossa equipe dará continuidade à
      validação do seu cadastro.
    </p>

    <p>
      Agradecemos desde já pela colaboração e pelo interesse em se juntar à
      nossa missão de apoio psicológico voluntário.
    </p>
    <p>Atenciosamente, <br />Equipe ONG Gabriel</p>
  </body>
</html>
