<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Retorno sobre seu cadastro – ONG Gabriel</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height: 1.6">
    <p>Olá {{nome}},</p>

    <p>
      Agradecemos seu interesse em atuar como psicólogo voluntário na ONG
      Gabriel.
    </p>

    <p>
      Após análise dos dados e documentos enviados, infelizmente seu cadastro
      foi reprovado neste momento.
    </p>

    <p>Motivo: {{{motivo}}}.</p>
    <p>
      Caso queira, você pode revisar suas informações e realizar uma nova
      solicitação de cadastro acessando o link: <br />
      <a href="{{url}}">{{URL da Plataforma}}</a>
    </p>

    <p>Seguimos à disposição para esclarecer quaisquer dúvidas.</p>

    <p>Atenciosamente, <br />Equipe ONG Gabriel</p>
  </body>
</html>
